{{ define "main" -}}
<div id="post" class="mx-auto lg:mx-0">
  {{ partial "post/info.html" (dict "page" . "context" $) }}
  <div class="prose prose-lg dark:prose-invert">
    {{ .Content }}
  </div>
  {{ if (.Site.Params.listmonk) }}
  {{ partial "post/listmonk_email_newsletters.html" . }}
  {{ end }}
  {{ partial "post/navigation.html" . }}
  <span class="print:hidden h-[90dvh] block"></span>
</div>
{{- end }}
{{ define "sidebar" }}
{{ if and (not .Params.hideToc) (not .Site.Params.hideToc) }}
{{ partial "table_of_contents.html" . }}
{{ end }}
{{ end }}
